package $!{classInfo.genPackageName};

import common.BasePerformanceCase;
import org.apache.jmeter.protocol.java.sampler.JavaSamplerContext;
import org.apache.jmeter.samplers.SampleResult;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.Map;

import lazy.test.tools.util.HttpUtil;

## TEST CONFIGURE
## author[String]: 创建者
## time[String]: 创建时间
## httpUrl[String]: http请求地址
## classInfo[AGTTestClassInfoVO]: 创建测试类信息

/**
* Created by $!{author} on $!{time}.
*/
public class $!{classInfo.genClassName} extends BasePerformanceCase {

    private static final Logger logger = LoggerFactory.getLogger($!{classInfo.genClassName}.class);

    private Map<String, String> postHeaderMap;

    private Map<String, String> postDataMap;

    /**
    * Interface Method Invoke
    */
    public SampleResult run(JavaSamplerContext ctx) throws Exception {

        initTestParam();

        String url = "$!{httpUrl}";

        SampleResult sample = new SampleResult();
        try {
            sample.sampleStart();
            String result = HttpUtil.postRequest(postDataMap, url, postHeaderMap);
            sample.sampleEnd();

            sample.setSuccessful(true);

        } catch(Exception e) {
            e.printStackTrace();
            logger.error("Test Case: {} failed", "$!{classInfo.genClassName}");
            throw e;
        }
        return sample;
    }

    private void initTestParam() {
        throw new RuntimeException("init param required");
    }

}
